@model List<User>

<a asp-action="Create" asp-controller="User" asp-area="Admin" class="btn btn-primary">Yeni Kullanici Olustur</a>
<div class="card">
    <h5 class="card-header">Kullanici Listesi</h5>
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Ad</th>
                    <th>Soyad</th>
                  @*   <th>Gsm</th> *@
                    <th>Email</th>
                    <th>Roller</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach(User user in Model )
                {
                    
               
                <tr>
                    <td> <strong>@user.Id</strong></td>
                    <td>@user.Ad</td>
                    <td>@user.Soyad</td>
                  @*   <td>@user.Gsm</td> *@
                    <td>@user.Email</td>
                        <td>@foreach (var role in user.Roller)
                            {

                                <span class="badge bg-primary"> @role.RoleAdi </span>
                            }
                        </td>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-action="Edit" 
                               asp-controller="User" 
                               asp-area="Admin" 
                               asp-route-userId="@user.Id">
                               <i class="bx bx-edit-alt me-1"></i> Edit</a>
                                
                               <a class="dropdown-item" asp-action="Delete" asp-controller="User" asp-area="Admin" asp-route-userId="@user.Id"><i class="bx bx-trash me-1"></i> Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
             }
            </tbody>
        </table>
    </div>
</div>